In [4]:
# importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

In [6]:
# importing the dataset and extracting independent and dependent variables
companies = pd.read_csv('1000_Companies.csv')
X = companies.iloc[:, :-1].values
y = companies.iloc[:, 4].values

companies.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [21]:
# transforming the categorical data to numeric values
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

labelencoder = LabelEncoder()
X[:,3] = labelencoder.fit_transform(X[:,3])
ct = ColumnTransformer([("State", OneHotEncoder(), [3])], remainder = 'passthrough')
X = ct.fit_transform(X)

In [22]:
# removing the extra column we created above
X = X[:, 1:]

In [23]:
# splitting the dataset into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [24]:
# fitting multiple linear regression to the training set
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [25]:
# predicting the test results
y_pred = regressor.predict(X_test)
y_pred

array([183836.11589976,  98443.00675192, 145773.32725221, 152800.99173634])

In [26]:
# calculating the coefficients
print(regressor.coef_)

[ 2.63242646e+03  3.81299668e+03  1.01432852e+04 -6.43320455e+03
 -3.52978746e+03  0.00000000e+00  0.00000000e+00 -4.62376648e+02
 -1.04894102e+04  0.00000000e+00 -1.01269743e+04  1.28777041e+04
  4.91535059e+03  0.00000000e+00  1.01887832e+03 -5.45891474e+02
  3.57192386e+03 -3.02603239e+03 -1.58654323e-01  2.72172863e-01]

In [27]:
# calculating the intercept
print(regressor.intercept_)

87581.58273929537

In [28]:
# calculating the R squared value
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

-1.9488990934256107