In [2]:
# importing libraries
import numpy as np
import pandas as pd

# loading the dataset file
data = pd.read_csv('heart.csv')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
data.shape
# target 1 = People having heart disease
# target 0 = People having no heart disease

(303, 14)

In [4]:
# setting the X and y values
X = pd.DataFrame(data.iloc[:, :-1])
y = pd.DataFrame(data.iloc[:, -1])

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 1)

In [6]:
# fitting the model
from sklearn.linear_model import LogisticRegression

logmodel = LogisticRegression()
logmodel.fit(X_train, y_train)

/home/batteringram/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/batteringram/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [7]:
# predicting
predictions = logmodel.predict(X_test)

In [8]:
# accuracy
print("Accuracy:: ", logmodel.score(X_test, y_test))

Accuracy::  0.7704918032786885

In [9]:
# evaluating using confusion matrix
# confusion matrix evaluates and tells us how much values we have predicted correctly and how many wrong
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, predictions)
print(cm)

[[20 10]
 [ 4 27]]

In [10]:
# No of correctly predicted positive data = 20
# No of negative class which we predicted incorrectly = 4
# No of positive class which we predicted incorrectly = 10
# No of negative class which we predicted correctly = 27